[2018-08-16 14:40] phoracek opened #2 "Basic OVS CNI plugin implementation"
With this initial implementation, ovs-cni would just connect container to an OVS bridge available on host and optionally assign connection port to a VLAN. Support for IPAM and other advanced features will be added later and described in separate issues. Pure L2 plugins sounds limiting, but it should be enough for KubeVirt VMs use-case.

This basic support should reflect bridge plugin from containe

[2018-08-16 14:41] phoracek commented on #2
@SchSeba @yuvalif @dankenigsberg could you check this? Thanks

[2018-08-16 14:46] phoracek opened #3 "Support multiple nodes and OCP in local cluster"
As discussed in https://github.com/kubevirt/ovs-cni/pull/1, it is desirable to test the code with multiple nodes and on different platforms too. In order to accomplish that, we should copy more of KubeVirt cluster helpers.

It is not clear to me yet how to do it, not pile unused and unrelated code from kubevirt here yet.

[2018-08-16 15:01] phoracek commented on #2
There is also an option not to use veth, but rather OVS internal interfaces. AFAIK they are faster but don't support all traffic shaping features.

[2018-08-16 21:29] phoracek commented on #2
Looking for OVSDB client with nice abstraction in Go. I found several libraries that expose ovsdb directly, that means communicating directly with OVS database and making sure all references between objects (ports, interfaces, bridges) are consistent, that is a lot of extra work. DigitalOcean library has nice OVS abstraction (single command to add bridge, ports, set attribute etc.), but that is im

[2018-08-17 06:56] dankenigsberg commented on #2
If there is no high-level Go binding for OvS, how about implementing this CNI in Python, using `ovsdbapp`?
(I am not completely joking here!)

[2018-08-17 09:58] phoracek commented on #2
@dankenigsberg it would have other problems:

- packaging and shipping of extra dependencies
- no that many examples of existing CNI plugins (although there are some)
- we will not be able to use containernetworking `cni` and `plugins` repositories and their helpers to build and test CNI
- general acceptance (at least for me, Python plugin does not look that appealing)

There are not many calls to

[2018-08-17 10:31] dankenigsberg commented on #2
Yeah, yeah. That's why I was /mostly/ joking.

[2018-08-21 18:03] SchSeba commented on #3
I will take this one

[2018-08-24 13:36] phoracek opened #6 "Not all supported platforms offer Go 1.10 or higher"
In the current state, with using network namespaces from Go, we enforce Go 1.10, since this code cannot be compiled on Go 1.9 or lower [1]. However, at this moment we need to work with Go 1.9 to support all platforms.

We should create a temporary workaround to work in container network namespace using `nsenter` or `ip netns`.

This code should be reverted and issue closed as soon as Go 1.9 platfo

[2018-08-26 06:10] SchSeba commented on #6
Can we leave the current implementation on a new branch?

[2018-08-26 08:33] phoracek commented on #6
We could, but not sure if it's worth it. Almost finished the new
implementation and it's not that big of a change, plus we have got revert.

On Sun, 26 Aug 2018, 8:10 Sebastian Scheinkman, <notifications@github.com>
wrote:

[2018-08-26 09:29] SchSeba commented on #6
OK works for me

[2018-08-27 10:33] phoracek commented on #6
WIP PR pushed https://github.com/kubevirt/ovs-cni/pull/7

[2018-08-27 11:22] phoracek opened #8 "Mark functional tests as such and run them on local cluster"
Currently, there are functional tests (calling ovs-vsctl binary) ran as unit tests. We should mark them as functional tests, run them only with `make functest` and do that on local cluster.

[2018-08-27 12:54] phoracek opened #9 "Remove built binaries from repo"
I accidentally pushed plugin binary to this repository, we need to drop it.

[2018-08-27 15:54] yuvalif commented on #6
which platforms don't support go.1.10? seems like mac/win/linux are supported: https://golang.org/dl/

[2018-08-28 08:35] phoracek commented on #3
Resolved in #5

[2018-08-28 08:35] #3 closed

[2018-08-28 08:47] phoracek opened #10 "Publish images on Quay.io"
In order to make this plugin easily usable outside of kubevirtci local cluster, we should provide a public image of installer on Quay.io.

That should be done automatically, for master and all tags.

[2018-08-28 09:08] phoracek opened #11 "Document deployment and usage on arbitrary cluster"
Currently, we document only usage on local kubevirtci cluster. We should add a description how to install multus and ovs-cni on a cluster and how to use it. This depends on #10

[2018-08-28 09:25] #9 closed

[2018-09-03 09:33] phoracek commented on #8
Yes, the only test suite we have now is functional, no unit tests. I think it would be good to mark it as "functional" and run it with `make functest`. System tests (controlled using kubectl) should be kept in a separate folder like it's done in KubeVirt.

[2018-09-03 09:43] phoracek commented on #6
This repository master will require Go 1.10, 1.9 will be handled on a separate private branch to not block further development.

[2018-09-03 09:43] #6 closed

[2018-09-04 14:36] #11 closed

[2018-09-06 14:45] SchSeba opened #18 "Fail to deploy ovs example"
Fail to deploy ovs on openshift with the follow error.

[code]

[2018-10-03 15:50] yuvalif opened #37 "[enhancement] CNI should mark nodes according to existence of bridges"
Daemon on each node will monitor available OVS bridges and set them on respective node label, by appending the bridge name to the label key name.
For example, if the following OVS bridges exists on the node:
[code]
The the following node labels will be added:
[code]
[code]

[2018-11-06 12:34] phoracek commented on #10
Now also automatized using STD-CI

[2018-11-06 12:34] #10 closed

[2018-12-11 15:44] phoracek opened #57 "Use Fedora for Docker images"
KubeVirt projects use Fedora. In order to save some disk space, we should too.

[2018-12-16 16:05] phoracek opened #58 "Research whether we should schedule OVS CNI DPs on master node"
"BTW just a very small nit can you please remove this from all our yaml ?

- key: node-role.kubernetes.io/master

So the cni will run on all the nodes just line any other cni."

"So the problem appears on kubeadm version 1.12+
They added a new taint on the master node node.kubernetes.io/not-ready:NoSchedule
This taint should be removed after the main network cni is running but I don't want to have

[2019-01-02 12:41] phoracek opened #63 "hard-code one supported CNI version"
We should report only single supported CNI version.

[2019-01-31 10:04] #8 closed

[2019-03-21 08:04] xichengliudui opened #72 "execute: `kubectl apply -f https://raw.githubusercontent.com/kubevirt/ovs-cni/master/examples/kubernetes-ovs-cni.yml`"
I use `kubeadm init` initialize the cluster, and  install cni according to `https://github.com/kubevirt/ovs-cni/blob/master/docs/deployment-on-arbitrary-cluster.md` file, the result is:

![image](https://user-images.githubusercontent.com/40875627/54739316-9bd35d00-4bf2-11e9-874b-704b6f14c61d.png)

execute：kubectl describe po  ovs-cni-amd64-8v9gm --namespace=kube-system

[code]
Please do not care a

[2019-03-21 08:06] xichengliudui commented on #72
Has ovs specified any labels?

[2019-03-21 08:56] SchSeba commented on #72
Hi @xichengliudui as I can see from your log looks like you don't have a primary network plugins.

ovs-cni is a secondary network using [multus](https://github.com/intel/multus-cni) and only provide a L2 network connectivity to a ovs bridge without assigning ip address on the interface.

[2019-03-21 08:58] xichengliudui commented on #72
Thank you for your answer, because I use ovs plug-in once, may I ask what I need to do?

[2019-03-21 09:05] SchSeba commented on #72
I think you can take a look on this document
https://github.com/kubevirt/ovs-cni/blob/master/docs/deployment-on-arbitrary-cluster.md

But again you need a functional cluster with a primary network plugin ready.
You can install flannel or calico for that

[2019-03-21 09:08] xichengliudui commented on #72
Thanks.
I created it with this file, but can ovs not replace calico or flannel as a web plug-in for k8s?

[2019-03-21 09:10] SchSeba commented on #72
no this works only as a secondary network no as primary one.
If you want a primary network based on ovs you can deploy [ovs-kubernetes](https://github.com/openvswitch/ovn-kubernetes)

[2019-03-21 09:11] xichengliudui commented on #72
Yes, I want ovs to be the main network of my cluster. Thank you for your patient reply

[2019-03-21 09:11] #72 closed

[2019-03-25 23:32] dojolabs-ci opened #73 "is its possible to ask for specific ofport id?"
like with the following:
ovs-vsctl add-port br0 dummy -- set Interface dummy ofport_request=100
Thanks,

[2019-03-26 11:12] phoracek commented on #73
@dojolabs-ci do you want to create an arbitrary port on the bridge and configure it with `ofport_request`? Then it is completely up to you and ovs-cni will not intrude. I supposed you would like to specify the ofport_request for each attached Pod? As in `pod.metadata.annotations.networks: {"name": "ovs_network", "ofport_request": 100}`. Am I right?

[2019-03-27 07:11] dojolabs-ci commented on #73
I want to specify each attachment ofport,
what we are doing is NVF platform and we need fixed port numbers for our sdn controller topology
Thanks,

[2019-03-27 09:27] SchSeba commented on #73
Hi @dojolabs-ci

ovs-cni is a cni plugin for secondary networks.
can you give as little more details how you plain to deploy this? or you using multus?

[2019-03-27 19:51] dojolabs-ci commented on #73
yes Im using multus with flannel for main network (control plane), and I want to use ovs-cni to manage the data plane

[2019-03-27 20:05] phoracek commented on #73
@dojolabs-ci so if I understand it correctly, you want to set ofport_request on a port to the Pod, right? Unfortunately, we are blocked by https://github.com/intel/multus-cni/pull/210. I will try to contact multus-cni maintainers to get it merged. Once we have that feature on Multus, it should not be a problem to extend ovs-cni with ofport_request support. Please tell me if I got it right.

[2019-03-28 08:57] dojolabs-ci commented on #73
you got it right..
Thanks for the support

[2019-03-28 11:56] phoracek commented on #73
@dojolabs-ci will try to get the multus PR merged. I let you know once there is some progress.

[2019-04-01 09:16] karmab opened #74 "can't use ovs cni on ocp4 without workarounds"
on ocp4, the ovs cni plugin suffers from two issues:
- the rhcos nodes miss the libunbound.so.2 library.
  as a workaround, i copied the library from the ovs pods to /root on all the nodes and added this path to ld

[code]

- the path for searching cni plugins is different so i had to manually copy the ovs plugin binary to the proper place

[code]

[2019-04-01 10:04] phoracek commented on #74
Thanks for reporting this @karmab, we still don't have an easy way to test on OCP4... Will look into it.

[2019-04-02 10:50] SchSeba commented on #37
Done by https://github.com/kubevirt/ovs-cni/pull/51

[2019-04-02 10:50] #37 closed

[2019-04-02 11:34] dojolabs-ci commented on #73
@phoracek any update on this?
lets say I will fork multus and pull this pr, nedd to do any additional changes on the ovs-cni side?

[2019-04-02 12:03] SchSeba commented on #73
Hi @dojolabs-ci

you will need to add here https://github.com/kubevirt/ovs-cni/blob/master/pkg/plugin/plugin.go#L47 a new variable and also if statement here https://github.com/kubevirt/ovs-cni/blob/master/pkg/plugin/plugin.go#L203

[2019-04-02 12:09] phoracek commented on #73
@dojolabs-ci would you also please comment on the Multus PR, so it is visible that there are more potential users of that feature? Thanks a lot

[2019-04-03 10:14] dojolabs-ci commented on #73
I commented on the pr,
another Q, its possible to supply the mac addr ofg the interface? which component generate the MAC multus or ovs-cni?
Thanks,

[2019-04-14 13:15] SchSeba commented on #73
@dojolabs-ci the mac address is configured in the annotation label something like this
[code]

but the ovs-cni doesn't know how to read this parameter so you need to combine it with the `tuning` plugin like this

[code]

[2019-04-15 17:56] phoracek commented on #58
/remove-lifecycle rotten

[2019-05-10 18:21] #57 closed

[2019-06-01 15:12] #63 closed

[2019-07-18 10:47] SchSeba commented on #74
/remove-lifecycle stale

[2019-07-18 10:47] SchSeba commented on #73
/remove-lifecycle stale

[2019-08-20 12:34] SchSeba commented on #74
This issue should be fixed now with https://github.com/kubevirt/ovs-cni/pull/78

[2019-08-20 12:34] #74 closed

[2019-09-15 14:46] phoracek commented on #58
/remove-lifecycle rotten

[2019-09-24 11:51] phoracek opened #81 "Drop OpenShift 3.11 from CI in favor of OKD4"
We should focus on OKD4 and newer Kubernetes versions with both deployment and CI.

[2019-09-24 11:53] phoracek opened #82 "Use Network Addons Operator for deployment on arbitrary cluster"
It will make deployment of Multus and OVS way easier.

[2019-10-15 15:23] phoracek commented on #58
/remove-lifecycle rotten

[2019-11-07 23:16] phoracek opened #84 "Drop all ovs-vsctl usage from plugin"
Although most of the code uses socket connection to OVS DB, there is still some usage of ovs-vsctl. We should get rid of it, so we can drop the openvswitch RPM dependency.

[2019-11-08 15:23] phoracek commented on #84
Done via #90

[2019-11-08 15:24] phoracek commented on #82
Done via #86

[2019-11-08 15:24] #82 closed

[2019-11-08 15:24] #84 closed

[2019-12-15 13:18] #73 closed

[2020-01-03 14:36] phoracek commented on #81
/close

We use only Kubernetes now. Tests with OpenShift should be done as a part of CNAO.

[2020-01-03 14:36] #81 closed

[2020-01-15 11:38] pperiyasamy opened #96 "Design: Selective VLANs on the Root Device and Ease of Network Orchestration"
### **Problem:**

The OVS CNI in its present form supports two types of OVS network attachment definitions (NAD).

1. Single VLAN untagged interface

[code]

2. Transparent trunk

[code]
Note: The absence of the “vlan” field implies transparent access to all VLANs present on the specified bridge and underlying root device.

In case of Transparent trunk scenario, the root device is entirely given t

[2020-01-15 14:31] EdDev commented on #96
The 1st part, to specify vlan ID ranges is a welcome addition.
At the host networking level, the following schema snippet has been choosen: https://github.com/nmstate/nmstate/blob/master/libnmstate/schemas/operational-state.yaml#L335 , you could consider the same for the NAD.

The 2nd part, AFAIU suggests to use the NAD as a semi template and use the pod annotation to complete it. Conceptually, th

[2020-01-15 16:28] JanScheurich commented on #96
The typical use case for hundreds of VLANs are user plane gateway nodes like the 5G Core UPF. These nodes may have to interface hundreds of e.g. enterprise VPNs in the SGi side. Typically a single large pod would use VLAN trunking to handle all relevant VLANs on a single interface and separate the VLANs on application level.

But the application might also chose to split the VLANs over many smalle

[2020-01-20 08:54] dankenigsberg commented on #96
In this case, it would feel more natural to me to have an operator that creates NADs based on a template and parameters.

There are legitimate cases where a NAD bundles multiple networks. I would love to see ovs-cni support a `trunk` connection, which lets it connect to multiple VLANs. Per-pod annotation limiting the set of allowed vlans seems a bit awkward (as in, I'm not familiar that it is done

[2020-01-20 10:21] pperiyasamy commented on #96
Yes @dankenigsberg we've patch locally and will raise it for review in a couple of days.

[2020-01-29 09:34] phoracek opened #99 "Implement CHECK command"
Currently, we do not implement the CHECK command [1]. Study the requirements in CNI SPEC [2] and implement the functionality for OVS CNI. Reference implementation can be found in Linux bridge CNI [3].

[1] https://github.com/kubevirt/ovs-cni/blob/master/pkg/plugin/plugin.go#L398
[2] https://github.com/containernetworking/cni/blob/master/SPEC.md
[3] https://github.com/containernetworking/plugins/bl

[2020-02-17 05:55] rootdeep opened #105 "Dose it support IPAM now ?"
The ovs-cni's version comes to v0.9.0, dose it support IPAM from this version？
If it still not own this feature, is there anothor tool to act as IPAM and used together?
or is there a plan to implement IPAM?

[2020-02-17 08:35] phoracek commented on #105
Hello. v0.9.0 does not. IPAM support was added in https://github.com/kubevirt/ovs-cni/pull/102 and it is a part of v0.10.0 https://github.com/kubevirt/ovs-cni/releases/tag/v0.10.0 which was just released.

[2020-02-17 08:53] rootdeep commented on #105
@phoracek   Is there a bianary package attached to release?   Thank you team anyway.

[2020-02-17 08:57] phoracek commented on #105
I can build one for you and attach it. However, there is no binary build automation (only for images), so there is no assurance there will always be a binary attached to a release.

Find the build here https://github.com/kubevirt/ovs-cni/releases/tag/v0.10.0.

[2020-02-17 11:13] #105 closed

[2020-02-18 10:43] GeorgFoc opened #106 "CNI failed to retrieve network namespace path"
Hi, I think we found a bug maybe. Or I made a misstake with the configuration and would be thankful for help.

Generel the ovs-cni works great. But if I hard kill a Kubernetes Node (or do a reboot without draining the node), on which are pods running with the ovs-cni, the pods does not restart propably.

I startet the samplepod from the documentation and than reboot the ubuntu system which runs th

[2020-02-18 11:38] phoracek commented on #106
Hello @GeorgFoc, thanks for opening of the Issue!

OVS CNI database is persistent across reboots. We also save metadata of Pod connections to its database (https://github.com/kubevirt/ovs-cni/blob/d61bd2b26f6c1df8ed38a4572b2ab4adaf48245d/pkg/ovsdb/ovsdb.go#L298). So when a new CNI attachment is executed on the same pod after reboot, we employ the same metadata and that breaks the code.

The fix wo

[2020-02-18 11:51] GeorgFoc commented on #106
Hi @phoracek, thanks for the quick answer.
I will give the issue to our go developers to look into it. We will hopefully make a PR soon.

[2020-02-25 14:41] pperiyasamy opened #107 "Rename the key for ovs-cni.network.kubevirt.io/br1"
We have problem with net-attach-def objects when it is required to have both `device ` (for device plugin) and `bridge `(for ovs-cni) as resource names.
This is mainly because both are described with same `k8s.v1.cni.cncf.io/resourceName` key which makes recent value replaces the old one.

For example:

[code]

Can we have different annotation key for defining ovs bridge name like below ?

[code]

[2020-02-25 14:44] phoracek commented on #107
We cannot change the annotation name, the code that consumes the annotation is not owned by us (the resource injector). Can you just omit the br1 resource name? It should still work as long as you have the bridge configured on all nodes with intel.com/mellanox_snic0.

[2020-02-25 14:49] pperiyasamy commented on #107
@phoracek Yes, the ovs bridge name can be omitted from net-attach-def, but there are some worker nodes which may not have that ovs bridge.
Hence it's needed to inject ovs bridge into pod spec as resource requirements so that kube scheduler can place it on the right node.

[2020-02-25 14:55] phoracek commented on #107
I would accept a PR for the marker to expose additional resource labels.

However, you would need to introduce your own webhook injecting the resource request to Pods (like I said, we don't own the resource injector webhook).

Alternative to the webhook would be if you put the resource requirement on your Pods manually.

[2020-02-25 14:56] phoracek commented on #107
If you insert the resource request manually, we don't need any change to the marker.

[2020-02-25 15:05] JanScheurich commented on #107
For Mellanox SmartNIC network attachment definitions there is no need to refer to the OVS bridge name, as the OVS bridge is connected to the Linux bond of the two SmartNIC PFs, while all the SmartNIC VFs are configured to be part of the device pool for the SmartNIC. OVS bridge and device pool are "synonymous" so that referring to the VF device pool guarantees injection of the VF resource into the

[2020-02-25 15:31] phoracek commented on #107
We have considered node selectors. However, we wanted to reuse the existing mechanism available through the resource injector, so we don't need to reinvent new webhooks.

[2020-02-25 15:36] phoracek commented on #107
In KubeVirt, we use resource injector to handle scheduling for SR-IOV and linux bridge (https://github.com/kubevirt/bridge-marker) too.

[2020-02-28 14:28] pperiyasamy commented on #107
raised [PR](https://github.com/intel/network-resources-injector/pull/19) in network resources injector

[2020-03-03 09:16] moshe010 commented on #107
@phoracek why did you use nfd [1] with Feature Detector Hooks. can you explain why ovs bridge is countable resource?
[1] -  https://github.com/kubernetes-sigs/node-feature-discovery#feature-labels

[2020-03-03 09:59] JanScheurich commented on #107
Modelling OVS bridges as node features looks like an interesting alternative to the trick with countable bridge resources. However, there are two aspects of the current bridge resource approach that I would like to keep:
1. The marker monitors OVS bridges on the nodes and creates new bridge resources as needed. Could the node feature detector do something similar?
2. The Network Resources Injector

[2020-03-03 10:41] moshe010 commented on #107
so can you explain how the marker work today? is it create/remove bridges per adding/delete network in the network attachment?

[2020-03-03 14:38] pperiyasamy commented on #107
@moshe010 AFAIK ovs-cni marker would expose ovs bridge as a scalar resource with capacity of `1k` and net-attach-def object can refer to it via `k8s.v1.cni.cncf.io/resourceName` annotation. This helps k8 scheduler to place the pod on the node where the particular ovs bridge exists, but it's never used by `device plugin or multus/ovs-cni`.

As @JanScheurich mentioned, it would be more appropriate i

[2020-03-03 14:44] pperiyasamy commented on #107
/cc @zshi

[2020-03-03 14:46] phoracek commented on #107
In KubeVirt, we don't have only OVS-CNI, but also Linux bridge CNI and SR-IOV. In order to reduce the amount of code needed for OVS and Linux, we decided to leverage the resource injector. I'm fully aware of the fact that the countable resources of DP do not match Linux and OVS bridge usecase. However, it gives us the simplest way to implement scheduling and it works just fine. We do not want to u

[2020-03-03 15:00] phoracek commented on #107
You meant to ask why did **not** we use it?

We considered NFD in the beginning, however, it has a few drawbacks. It would require us to deploy NFD components and it would require us to write a network-label-injector webhook. Writting webhooks is difficult due to certificate handling and deploying NFD may be complicated since it is not a trivial component.

Since the resource handling way of sched

[2020-03-03 15:21] JanScheurich commented on #107
Maybe a stupid question: Can't we change to using node-selector labels in a cheaper way?
The OVS CNI marker could just add bridge node-selector labels to the node resource instead of creating dummy bridge resources. And the Network Resources Injector web-hook could be enhanced to check for label annotations in NADs and inject them as node-selector labels into the pod spec.

[2020-03-03 15:28] phoracek commented on #107
There are no dummy bridge resources. We don't use DP. We just merely expose the available bridge as a node resource, not countable: https://github.com/kubevirt/ovs-cni/blob/master/pkg/marker/marker.go#L115 I don't see what is so expensive here.

If the resource injector works with labels, that would be great. But I don't see a big difference between exposing the value in resource or label field. B

[2020-03-03 15:32] phoracek commented on #107
But maybe I just don't understand "The OVS CNI marker could just add bridge node-selector labels to the node resource instead of creating dummy bridge resources." properly.

[2020-03-03 15:56] JanScheurich commented on #107
If I'm not mistaken each bridge is represented as a countable node resource with 1000 units:
https://github.com/kubevirt/ovs-cni/blob/master/pkg/marker/marker.go#L34

Yes, this works (as long as there are not more than 1000 ports per bridge), but it still is trick as there is no actual well-defined limit of ports that can be connected to an OVS bridge.

It would just be conceptually cleaner than c

[2020-03-03 16:01] phoracek commented on #107
https://github.com/kubevirt/ovs-cni/blob/master/pkg/marker/marker.go#L34

It has available amount of 1000, but it is not list of 1000 devices as it would be in case of DP where each item represents a device. Instead, it is 1000 as in 1 kilo, as if it was amount of available memory. Therefore I believe there is not much overhead present.

The maximum limit is not an issue. Is it? I doubt there woul

[2020-03-03 16:22] JanScheurich commented on #107
@phoracek: I didn't mean to imply that there was a lot of overhead with modelling bridge as resource.

My thought was if we could do the label approach without the dependency on NFD and by still relying on a (slightly enhanced) Network Resources Injector.

[2020-03-03 16:32] phoracek commented on #107
(Sorry if I look annoyed and push back too hard, I don't mean to)

@JanScheurich could you summarize the benefits of such a change? Anything apart from getting rid of the countable API which does not make sense for "uncountable" resources?

BTW, even though we don't implement QoS now, the countable approach may be helpful once we decide to. Let users request 1GB of the throughput.

[2020-03-11 11:58] phoracek commented on #106
Resoled: #109

@GeorgFoc @fhofherr I released a new version of OVS CNI which includes the fix: https://github.com/kubevirt/ovs-cni/releases/tag/v0.11.0

[2020-03-12 05:10] rootdeep opened #110 "Is there a way to make ovs-cni as the master network with different vlans"
It's easy to make ovs-cni as the master network with  or without one vlan tag. It's also possible for me to make two ovs vlans  with NetworkAttachmentDefinition ,  and each pod has one of the vlans  as the second network with multus plugin.

However,  there a  case is that two pods use ovs-cni plugin as master network with different ovs vlan tags .  Dose the ovs-cni support this  scenario. If  so,

[2020-03-12 06:20] rootdeep commented on #110
Ok, I  find a way with multus

[2020-03-12 06:20] #110 closed

[2020-03-13 17:12] #58 closed

[2020-04-20 08:13] phoracek commented on #96
Implemented via #97

[2020-04-20 08:13] #96 closed

[2020-05-16 21:06] parthyadav3105 opened #119 "Failed to connect to ovsdb error: Invalid socket file"
On creating pod with 2 ovs interface it gives error __"ovs": error in getting result from AddNetwork: failed to connect to ovsdb error: Invalid socket file, failed to clean up sandbox container__
How can I debug more to know the actual cause of issue.

The yaml definitions file works on other setup. Here are the yaml files used:
```ovs-net.yml```
[code]
```pod.yml```
[code]

```kubectl describe po

[2020-05-17 11:29] phoracek commented on #119
Hello Parth.

My guess would be that the socket is not available on the expected default path `/var/run/openvswitch/db.sock.`. Would you try logging in the guest and call `ovs-vsctl show` to see if OVS is working in general and if it is, call `ovs-vsctl show --db=unix:/var/run/openvswitch/db.sock` to see if it is on the path we expect?

[2020-05-17 17:39] parthyadav3105 commented on #119
Thanks, VSperf builds ovs to a different path. And the socket file was located at ```/usr/local/var/run/openvswitch/db.sock```
I rebuilt the plugin with a different path in [NewOvsBridgeDriver()](https://github.com/kubevirt/ovs-cni/blob/master/pkg/ovsdb/ovsdb.go#L59) function.
It works.

Would it make sense to add ```socketFile: path/to/socket/file``` to netConf so that plugin can override socket

[2020-05-17 17:49] phoracek commented on #119
It would be possible, but I don't like that option. It mixes the network configuration with deployment configuration. Rebuilding is a dramatic measure. You can accomplish the same effect by changing the mount path for OVS daemon set: https://github.com/kubevirt/ovs-cni/blob/master/examples/ovs-cni.yml#L67. Would it work for you? If it does, making the value configurable during templating in https:

[2020-05-17 18:04] parthyadav3105 commented on #119
Yeah, I did that also, it solved my half problem. Second half was the the change at plugin.

I agree with you, It would add complexity with Network Configuration. Maybe adding a script at VSperf for ovs-cni installation be a good option.

I am closing the issue.
Thanks.

[2020-05-17 18:04] #119 closed

[2020-05-18 13:42] phoracek commented on #106
Closing since there was no recent activity and this seems to be resolved.

[2020-05-18 13:42] #106 closed

[2020-06-27 10:24] #99 closed

[2020-07-31 17:38] #107 closed

[2020-10-12 09:51] willie-hsueh-666 opened #131 "[ovs-cni] Apply ovs-cni.yaml fail"
Hi,
We would like to set up ovs-cni.yaml on K8S. Below is our command:
kubectl apply -f ovs-cni.yaml

but found that the ovs-cni pod crash
kubectl get pod --all-namespaces
kube-system            ovs-cni-amd64-sg5c2                         0/1     CrashLoopBackOff   1          7s

and the container log is below
kubectl logs -f ovs-cni-amd64-sg5c2 -n kube-system --all-containers
I1012 03:18:41.08182

[2020-10-12 15:40] phoracek commented on #131
Hello @willie-hsueh-666 ,

do you have Open vSwitch installed and running on your host? It is a prerequisite for ovs-cni.

If so, in which version?

Would you try using the latest release v0.14.0?

[2020-10-13 10:14] willie-hsueh-666 commented on #131
Hi @phoracek
Yes, we already installed the Open vSwitch and running on our host.
The version is below
ovs-vsctl (Open vSwitch) 2.14.90
DB Schema 8.2.0

Thanks,
Willie

[2020-10-13 10:24] phoracek commented on #131
Please use the recent version v0.14.0, the one you use was built against quite an old version of OVS.

Also, would you verify that /var/run/openvswitch/db.sock really has the OVS socket on your host? Log in to the host and call:

[code]

[2020-10-30 07:55] gabidrg opened #133 "OVS-CNI not working with sbr chained plugin due to interface index mismatch"
Hi,

When using OVS-CNI and chaining the sbr plugin in a NetworkAttachmentDefinition, sbr fails to create a default route in the pod.

Steps to replicate:

1. Using the local cluster deployment with 1 master node and 2 worker nodes. Manually install sbr plugin in `/opt/cni/bin/` on every node.

2. OVS setup on every node:

[code]

3. I used a per-worker configuration for the net-attach-def in orde

[2020-12-17 06:55] dpronyaev opened #143 "OVS-CNI doesn't free IPs after container deleted"
I have defined **devnet** with range 10.71.11.1-10.71.11.253 in my test environment.
I've created and deleted different depoloyments with pods that had IP assigned. I one moment I've got an error while creating pod:

`Warning  FailedCreatePodSandBox  52s                 kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "86c8de27be

[2020-12-17 08:44] pperiyasamy commented on #143
@dpronyaev This seems like a host-local IPAM issue, do you see those IP files are empty? This is a known issue with this plugin and this [PR ](https://github.com/containernetworking/plugins/pull/499)addresses it. Can you confirm it ?

[2020-12-17 08:48] dpronyaev commented on #143
No, none of theese files is empty. For example:

[code]

[2020-12-17 10:00] pperiyasamy commented on #143
@dpronyaev ah! yes, there is a regression generated from previous [commit ](https://github.com/kubevirt/ovs-cni/pull/142), hope you're seeing errors like below in kubelet logs during pod delete (?):

[code]

Let me raise another PR to fix this.

[2020-12-17 11:02] dpronyaev commented on #143
@pperiyasamy errors in kubelet log look like this:

[code]

[2020-12-17 11:27] pperiyasamy commented on #143
@dpronyaev I assume these errors occurred during pod creation and consequence of ip addresses not cleaned up during previous pod deletes invocations. do you have kubelet logs while doing pod deletion ? where does ovsdb socket file exist ? is it different location other than /var/run/openvswitch/db.sock ? can you share us the NAD and/or if you've any flat file configuration ?

[2020-12-18 11:55] dpronyaev commented on #143
Here is fresh log of deleting pod:

[code]
ovsdb socket file exists in /var/run/openvswitch/db.sock

Please explane what do you mean "NAD and/or if you've any flat file configuration"? I wasn't able to google it so I'm confused)

[2020-12-18 13:27] pperiyasamy commented on #143
@dpronyaev  As per the log, i think the error `error in getting result from DelNetwork: failed to find bridge delme` which causes IPAM cleanup not executed and `CmdDel `is returned prematurely. does `delme `ovs bridge still exist ? or is it got removed by some other process after pod is created ? Can you share your NAD `(kubectl get net-attach-def <name> -o yaml)` and pod yaml configuration ?

I t

[2020-12-18 13:41] dpronyaev commented on #143
@pperiyasamy at the moment of `helm delete` delme ovs bridge exists and I delete it AFTER deletion of all containers.

Here is NAD of existing bridge:

[code]

[2020-12-18 13:45] dpronyaev commented on #143
Here is pod yaml

[code]

[2020-12-18 14:59] pperiyasamy commented on #143
The NAD `devnet ` that you've listed is not used by the pod for multus secondary networking as networks annotation contains this:

[code]
can you paste the NAD for `nason8-int ` network ? is there any chance ovs bridge was deleted before container delete during your helm delete ?

[2020-12-18 15:29] pperiyasamy commented on #143
can you check if ` /etc/cni/net.d/00-multus.conf` is also configured properly for default network `devnet` ?
Because the error was also thrown like `conflistDel: error converting the raw bytes into a conflist: error parsing configuration list: no 'plugins' key`

Here is a sample multus config:
[code]

[2020-12-21 08:15] dpronyaev commented on #143
@pperiyasamy

[code]

[code]

I think no. My script does **helm delete**, waits for all pods to disapear. Only after that it deletes networkattachmentdefinition.k8s.cni.cncf.io and only after that deletes coresponding OVS bridge.

[2020-12-21 10:37] pperiyasamy commented on #143
@dpronyaev Now it looks your configuration is changed to use flannel as primary plugin and you are trying to use `nason8-int `for the secondary network. can you correct resourceName to the following in the NAD `k8s.v1.cni.cncf.io/resourceName: ovs-cni.network.kubevirt.io/nason8`. is IP address passed from pod spec as you're trying to use static ipam in nason8-int ? What is the issue now ?

[2020-12-24 07:47] lixuehui08 opened #145 "OVS-CNI does not supprt tcp package between vms in different nodes"
Hi

https://github.com/kubevirt/ovs-cni/blob/master/docs/demo.md

like this demo,  i build two vms using ovs-cni network,  this two virtual machines can ping each other and send UDP packets，but can not establish TCP connection。

Do you have this problem？

Relevant situations are shown in the figure below

1、node‘s ovs port info
![image](https://user-images.githubusercontent.com/75360526/103070461-

[2020-12-25 10:41] #145 closed

[2021-01-29 11:32] #133 closed

[2021-01-29 11:36] gabidrg commented on #133
Issue fixed and released in v0.16.2

[2021-03-12 11:47] #131 closed

[2021-05-17 13:01] phoracek opened #152 "Rename all imports so they use the new organization"
After migration from kubevirt GitHub org, all the imports are still pointing to the old org.

[2021-05-17 13:02] phoracek opened #153 "Migrate the image under NPWG Quay repository"
The image is still hosted under the original kubevirt org.

[2021-05-17 13:03] phoracek opened #154 "Rename resource to reflect the new org"
Resource exposed by OVS CNI marker are still `ovs-cni.network.kubevirt.io`, this should be changed (while maintaining backwards compatibility) to reflect the new organization.

[2021-05-18 07:14] #152 closed

[2021-05-20 15:18] axelwass opened #157 "Plugin not getting installed on new nodes"
When adding new nodes to an existing cluster, I'm getting ` failed to find plugin "ovs" in path [/opt/cni/bin /opt/cni/bin]` when trying to use the plugin for a pod running on the new node.

When looking into the indicated folder, I see that the old nodes do have the `ovs` file on the folder, but the new nodes do not have it.

I'm not sure if this is responsibility of the plugin, but letting you k

[2021-05-20 15:22] phoracek commented on #157
Hello @axelwass. Deployment of OVS CNI across cluster is not handled by this project. I'd say you should figure out how was OVS CNI deployed originally and then adjust that method to cover newly added nodes too.

[2021-05-20 15:27] axelwass commented on #157
ok, thanks @phoracek. I will close the issue them.

[2021-05-20 15:39] axelwass commented on #157
Leaving this just in case someone else faces the same issue. The problem was with https://github.com/kubevirt/cluster-network-addons-operator, that it was failing to start because the image of the version I was using ceased to exist.

[2021-05-20 16:17] phoracek commented on #157
Oh! Would you share what was the version you used? I would like to investigate why that happened. Released images should remain available.

[2021-05-27 09:20] pperiyasamy opened #159 "pod creation fails with OF port not up error"
While creating 100s of pod which uses secondary network using ovs-cni, some pods fails with following error `The OF port xxxxx state is not up`,

subsequently CmdDel is invoked to delete the pod, but that fails with `Error deallocating IP: Did not find reserved IP for container` and this error causes deadloop for sandbox deletion, CmdDel is invoked multiple times and causes kubelet log filled up w

[2021-05-31 10:03] #159 closed

[2021-06-10 11:19] mx-zheng opened #161 "Can I use k8s service with ovs-cni?"
Hi guys,

k8s service is based on the kube-proxy and iptables .  I don't know whether  service is available  while ovs-cni  is enable in K8s ?

apiVersion: v1
kind: Service
metadata:
  name: myservice
spec:
  selector:
    app: myapp
  ports:
  \- protocol: TCP
    port: 80
    targetPort: 80

[2021-06-10 11:20] mx-zheng opened #162 "Can I use k8s service with ovs-cni?"
Hi guys,

k8s service is based on the kube-proxy and iptables .  I don't know whether  service is available  while ovs-cni  is enable in K8s ?

apiVersion: v1
kind: Service
metadata:
  name: myservice
spec:
  selector:
    app: myapp
  ports:
  \- protocol: TCP
    port: 80
    targetPort: 80

[2021-06-10 11:23] #161 closed

[2021-06-15 07:33] phoracek commented on #162
Hello. I don't think this would work out of the box. However, maybe you could use Services with Endpoints to achieve this, see https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors. I have never attempted it myself, but it looks like it may work.

[2021-07-09 09:24] soessa opened #181 "Automate OVS bridge deployment"
Hi,

We are using ovs-cni inside our Kubernetes cluster and we were wondering if there was any known way to automate OVS bridges deployments as a pod get "attached" to an OVS bridge. As far as I know, it doesn't seem to be available with ovs-cni but will it be a next feature or not at all ?

Thanks.

[2021-07-09 09:41] phoracek commented on #181
Hello,

Host network configuration is out of scope of the CNI, as it should be only focused on the attachment to an existing resource.

That being said, would https://github.com/nmstate/kubernetes-nmstate/ work for you? It is an add-on for Kubernetes that allows you to configure host networking through Kubernetes API. Its only dependency is reasonably new version of NetworkManager running on your

[2021-07-22 12:44] soessa commented on #181
Hi @phoracek,

nmstate is an interesting solution that might do the trick. I'm currently using Debian on my nodes and it seems that network manager needs an additional plugin (nm-openvswitch) to deploy ovs bridge. Unfortunately, the nm-openvswitch binary is not available on Debian/Ubuntu and nnce fails since the plugin is unavailable.

Do you know any workarounds ?

Thanks.

[2021-07-30 15:25] phoracek commented on #181
@soessa I'm not all familiar with Debian. I suppose you could either try to compile the plugins yourself or find some .deb package outside mainstream repositories that already has it.

If you are looking for something simpler, you may use some of the existing provisioning tools, e.g. Ansible. Or go DIY route and prepare your own DaemonSet that would mount to hosts OVS socket and use `ovs-vsctl` to

[2021-09-16 13:24] rthakur-est opened #206 "mac address conflicts at high scale"
We have a deployment of 100 worker nodes with 24 vlans and 1000 ovs-cni interfaces on each of these vlans.
On few of these vlans, the ovs-cni ends up allocating same mac address to different pods.
Is there any way to avoid duplicate mac address allocation with ovs-cni?

[2021-09-16 14:18] pperiyasamy commented on #206
@rthakur-est The PR #205 attempts fix this by deriving mac address from assigned ip address on the container interface, does it fix the issue ?

[2021-09-17 05:58] rthakur-est commented on #206
@pperiyasamy This looks good. I will try this out.

[2021-09-23 10:09] phoracek commented on #206
@rthakur-est Peri's MAC PR was merged and released as a part of https://github.com/k8snetworkplumbingwg/ovs-cni/releases/tag/v0.24.0. Would you have a chance to verify whether it fixed your problem?

[2021-09-24 09:41] rthakur-est commented on #206
@phoracek I have verified it and it seems to work properly.

[2021-09-24 09:41] #206 closed

[2021-09-24 09:42] phoracek commented on #206
Fantastic, thanks a lot.

[2021-12-06 07:09] vkatabat opened #214 "ovs-cni-marker privileges"
Hi,
To limit ovs-cni pod securityContext. We removed privileges=true for ovs-cni-marker. We are tried with capabilities : CAP_IPC_LOCK/CAP_NET_BIND/CAP_NET_RAW which i think are required to connect to OVS DB. Could you please suggest what the minimum capability required for ovs-cni-marker container to work?
Error Seen:
F1206 07:05:08.670471       1 main.go:84] Failed to create a new marker object:

[2021-12-10 10:15] mardim91 opened #215 "Failure while running 'make' command"
Hello,

A failure have occured while I was running 'make' command in the main branch. Also same failures happen in tagged versions. (e.g v0.24.0)

**Rerproduce:**

1. clone the ovs-cni repo
2. run 'make'

**Error:**

hack/install-go.sh /root/apps/ovs-cni/build/_output/bin/
\+ destination=/root/apps/ovs-cni/build/_output/bin/
\+ version=1.16.8
\+ tarball=go1.16.8.linux-amd64.tar.gz
\+ url=https://d

[2021-12-13 10:21] phoracek commented on #215
Thanks for reporting this.

So far I failed to reproduce it locally, but I see it failing on our CI too: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/k8snetworkplumbingwg_ovs-cni/216/pull-e2e-ovs-cni/1470329777473720320/build-log.txt

[2021-12-14 10:45] mardim91 commented on #215
The way that I caught the error is by freshly cloning ovs cni repo and then running make. So maybe if you try to clean up your environment, clone ovs cni and run make you would be probably able to see the error also locally. Of course if you already tried that then I am not sure why you can not see it locally.

[2021-12-22 16:27] mardim91 commented on #215
Is there any update on this issue ? is it fixed ?

[2022-01-06 15:26] phoracek commented on #215
Indeed, it was reproduced on a fresh machine. I proposed a fix here: https://github.com/k8snetworkplumbingwg/ovs-cni/pull/217

[2022-01-07 08:01] phoracek commented on #215
@mardim91 could you check out the current main and confirm that it was fixed for you?

[2022-01-12 13:52] phoracek commented on #181
As discussed offline: Handling host network configuration is out of scope of OVS CNI.

[2022-01-12 13:52] #181 closed

[2022-01-12 15:36] phoracek commented on #214
Hello.

The network capabilities should not be needed. The marker observes available bridges through the socket only.

Regarding the error, it may be due to the container running under a regular user while the socket is only accessible for openvswitch/root. Could you share `ls -lZ /var/run/openvswitch` from your host, so we could check who owns the file and selinux context? On top of that, if you

[2022-01-14 15:39] phoracek commented on #215
That would require creating stable branches for v0.26, v0.25 and v0.24, resolving it with separate patches on all 3, and finally publishing a new patch release for all.

Could you upgrade to a later release or include `go mod vendor` in your pipeline?

[2022-01-20 08:48] mardim91 commented on #215
I would not like to update to a later realease. I would prefer to run the go mod vendor cmd.

Can you please explain how to run that command to solve the issue of installing ovs-cni ?

1. run go mod vendor
2. run make

do those commands above in that order solve the issue ?

[2022-01-20 08:50] phoracek commented on #215
Correct, calling `go mod vendor` again  fixed the source tree in https://github.com/k8snetworkplumbingwg/ovs-cni/pull/217.

[2022-01-20 09:04] mardim91 commented on #215
Unfortunately that's not a workable solution. The probelm is that golang is installed after we run make. So the procedure is like this:

1. clone ovs-cni repo
2. run make : "fails with the error that is reported in this issue"
3. run ovs-cni/build/_output/bin/go/bin/go mod vendor
4. rerun make : "make succeeds"

So this way yes the installaton suceeds but we still have an initial failure (step 2)

[2022-01-20 09:48] phoracek commented on #215
Install `golang` and call `go mod vendor` first?

[2022-02-03 13:12] mardim91 commented on #215
We have just used the Tip of the main branch to solve the issue. I think we can close this issue.

[2022-02-03 13:42] phoracek commented on #215
Thansk @mardim91 o/

[2022-02-03 13:42] #215 closed

[2022-02-09 07:09] l-rossetti opened #219 "Mirror port"
Is it possibile to inject a mirror (span) port into a pod? Can't find any reference in code or documentation. Thanks

[2022-02-09 13:21] phoracek commented on #219
It is not possible with the current implementation. Having OVS' port mirroring available in the CNI would  be nice, do you have an idea of how the API could look like?

[2022-02-09 15:04] mel1nn opened #220 "Clean ports after host reboot"
Hi, as described in this [issue](https://github.com/k8snetworkplumbingwg/ovs-cni/issues/106), I'm facing a problem on an OVS bridge after a restart of the node that hosts the pod (connected to the ovs bridge). A new port is added to the bridge (new interface of the container) but the older still exists and is in error state.

By calling the cleanPorts function in the cmdAdd function (pkg/plugin/pl

[2022-02-10 14:27] l-rossetti commented on #219
To create a mirror it could be done in two places:
- at NetworkAttachmentDefinition level, so that all the ports of a specific vlan are mirrored: `mirror: "mirror0"`
- at pod level, so that the specific port of this pod is mirrored: `mirror: "mirror0"`

While to inject the mirror interface we may need on the destination pod an annotation like `bind_to_mirror: "mirror0"`

Do you think it's reasonab

[2022-02-11 07:28] yockgen opened #222 "IP addresses duplicate on two pods running on different nodes"
Hi,
Need help,  IP address found duplicate on two pods running on different nodes as below:
===================================================================================
root@tgl02:/home/yockgenm/ovs-cni# kubectl exec -it test01-deployment-866cf959f5-n7nvq -- ip a
......
7: eth0@if56: <BROADCAST,MULTICAST,UP,LOWER_UP,M-DOWN> mtu 1480 qdisc noqueue state UP
    link/ether 1a:ce:62:38:5a:f1 br

[2022-02-11 08:27] phoracek commented on #222
Hello. The `host-local` IPAM you use does not guarantee unique IPs across nodes, see https://www.cni.dev/plugins/current/ipam/host-local/. If you need IPAM for unique IP allocation across the whole cluster, consider using https://github.com/k8snetworkplumbingwg/whereabouts.

[2022-02-11 08:28] phoracek commented on #222
Closing this since it is not an issue of OVS CNI, but limitation of the selected IPAM. Let me know if there are any further issues.

[2022-02-11 08:28] #222 closed

[2022-02-11 10:46] phoracek commented on #219
From the two options, I think it should be on the NetworkAttachmentDefinition level. This object is managed by an administrator while Pod belongs to untrustworthy users (sorry users). If we exposed this option on Pod, users could abuse it and force their traffic to be mirrored where it should not. Having this on NetworkAttachmentDefinition sounds good.

Could be the `bind-to-mirror` attribute part

[2022-02-11 14:38] l-rossetti commented on #219
I partially agree with this concern. Allowing users to mirror the pod traffic with an annotation on the pod itself can be an issue only in terms on waste of resources, but is not adding any security risk. The risk is more on allowing consumers to read mirrored traffic. Moreover having the annotation only at NetworkAttachmentDefinition means that the whole VLAN would be mirrored even tough you may

[2022-02-18 11:21] phoracek commented on #219
Thanks for the detailed response, I will answer inline.

But if there is an option for a third Pod to inject its traffic into the mirror, you would no longer be able to prove the source of the sniffed traffic and it could add noise to your captured data, no? I don't have experience with use of port mirroring, so pardon my ignorance.

I see your point here. The option would be to create a duplicate

[2022-02-18 14:04] phoracek commented on #220
Hello, thanks for reporting this. I see, so if you never delete Pods, only create them, after a couple of ungraceful shutdowns (not giving pods a chance to evacuate), you would end up with many disconnected interfaces.

Would you be willing to follow-up on https://github.com/k8snetworkplumbingwg/ovs-cni/pull/109 and add the needed cleanup and a test for it?

[2022-02-21 23:48] yockgen opened #223 "error adding container to network "work-network": failed to find bridge ovs-br1 on Microk8s"
Using Microk8 for cluster setup, experiencing " error adding container to network "work-network": failed to find bridge ovs-br1" issue, ovs-br1 have been created on all nodes as below:

Kubernetes Distribution: Microk8s

Error Log
======
Events:
  Normal   AddedInterface          51s                 multus             Add eth0 [10.1.231.211/32]
  Warning  FailedCreatePodSandBox  51s

[2022-02-28 17:06] l-rossetti commented on #219
Sorry for the delay of my response, at the moment we are compiling `ovs-cni` plugin by adding some logs in order to get a better understanding of the overall functioning.

Normally you want to capture the mirrored traffic and pass it through an IDS/IPS system or a net-probe software in order to catch any unusual behaviour that could harm the network. Adding some noise doesn't cause an issue but I

[2022-03-02 16:41] phoracek commented on #219
I think you are right. I looked into Multus' API definitions and there is a special field in the `networks` annotation, `cni-args` which is pretty much free form: https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/pkg/types/types.go#L119

Let me know how this goes, it sounds interesting for sure o/

[2022-03-02 16:56] l-rossetti commented on #219
I was  just now updating the Issue to give you an update on this same topic, when I've seen your message being popped up! That's crazy :) haha

Anyway... I've run a simple test to verify that, by using the following annotation:
[code]
By printing the content of `args.StdinData` [from here](https://github.com/k8snetworkplumbingwg/ovs-cni/blob/main/pkg/plugin/plugin.go#L226) I'm able to see ` { "arg

[2022-03-07 14:35] phoracek commented on #223
Hello.

You Multus DS has suspiciously high number of restarts `2610`. Could you check its logs to see what is the cause of that? I wonder if it may be connected.

Looking at you `NetworkAttachmentDefinition`, I see that you refer bridge `ovs-br1` while `resourceName` annotation requests `br1`. This suggests that resource injector is not running on your setup, nor you used explicit resource reques

[2022-03-11 09:20] l-rossetti commented on #219
We opened a PR containing the proposal #227

[2022-06-06 05:15] rthakur-est opened #230 "Support for probes for ovs cni marker"
We have a requirement where we want to monitor ovs-cni-marker for liveness so that it can restarted in case of process hangs/failures.

[2022-06-06 05:21] rthakur-est commented on #230
kind/enhancement

[2022-06-06 05:22] rthakur-est commented on #230
/kind enhancement

[2022-06-06 05:23] rthakur-est commented on #230
One simple approach that can be pursued is to have a simple http endpoint for replying to liveness probe.
Is there any alternative way that can be used here?

[2022-06-06 07:21] phoracek commented on #230
Hello @rthakur-est, HTTP server would be ok. Or even a simple [file-based liveness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-command).

Would you be willing to extend the deployment manifest with it, and add a one of the probes?

[2022-06-06 09:03] rthakur-est commented on #230
Hi @phoracek
I will work on it.

[2022-06-22 09:34] #230 closed

[2022-08-16 21:38] courtland commented on #73
I ended up needing this as well, so I attempted to add the functionality in #239.

/reopen
/remove-lifecycle rotten

[2022-08-16 21:41] courtland commented on #73
/reopen

[2022-08-16 21:41] courtland commented on #73
/remove-lifecycle rotten